main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: #31353F;
    display: flex;

}

.top-text, .bottom-text {
    height: 100px;
    width: 600px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 400px;
    width: 600px;
    background-color: black;
}

.download button {
    height: 50px;
    width: 160px;
    background-color: #2F7D31;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding-right: 5px;
}