@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1px ;
    background-color: black;

}
body.light {
    --background-color: #FAFAFA;
    --header-background-color: #E0E0E0; 
    --main-background-color: #EEEEEE;
    --color: #424242;
    --hover-botones: #BDBDBD;
}
body.dark {
    --background-color: #393E49;
    --header-background-color: #191E2B;
    --main-background-color: #30343F;
    --color: #EEEEEE;
    --hover-botones: #4E5565;
    

}

h1 {
    font-size: 36px;
    font-weight: 600; 
}

aside {
    background-color: var(--background-color);
    color: var(--color);
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 15px;
}
aside::-webkit-scrollbar {
    width: 1px ;
    background-color: black;

}
.hidden {
    display: none;
}

/* ESTO LO VAMOS A USAR PARA EL JS DE CAMBIO DE MODO OSCUTO A CLARO

aside{
    background-color: #f4f4f4 ;
}

body {
    background-color: #EDEDED ;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #E0E0E0;
    color: #333030;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}