header {
	background-color: var(--header-background-color);
	color: var(--color);
	flex-basis: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.title{
	margin: 10px;
}
.button-nav {
	font-size: 14px;
	font-weight: 400;
	margin: 2.5px;
	padding: 10px 0;
	border-radius: 3px;
	background-color: transparent;
	color: var(--color);
	border: none;
}
.button-nav:hover {
	background-color: var(--hover-input);
	cursor: pointer;
}
.nav-icon {
	margin-left: 5px;
	font-family: "Open Sans", sans-serif;
}
