main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 600px;
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: var(--main-background-color);
    display: flex;

}

.top-text, .bottom-text {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    text-align: center;
    position: absolute;
}
.top-text{
    top: 0;
}
.bottom-text{
    bottom: 0;
}
.image{
    position: absolute;
}

.wrapper {
position: relative;
}

.download button {
    height: 50px;
    width: 160px;
    background-color: #2F7D31;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 15px 0 20px;
    padding-right: 5px;
    cursor: pointer;
}