@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: var(--main-background-color);
    font-family: 'Open Sans', sans-serif;
}
/* body::-webkit-scrollbar {
    width: 1px ;
    background-color: black;

} */
body.light {
    --background-color: #FAFAFA;
    --header-background-color: #E0E0E0; 
    --main-background-color: #EEEEEE;
    --color: #424242;
    --hover-botones: #BDBDBD;
    --thumb-color: #30343F;
}
body.dark {
    --background-color: #252935;
    --header-background-color: #191E2B;
    --main-background-color: #30343F;
    --color: #EEEEEE;
    --hover-input: #4E5565;
    --input-color: #393e49;
    --thumb-color: #EEEEEE;

}

h1 {
    font-size: 36px;
    font-weight: 600; 
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.aside {
    overflow-y: auto;
    flex-basis: 340px;
    background-color: var(--background-color);
    color: var(--color);
    overflow: auto;
    padding: 0 15px;
}
.aside::-webkit-scrollbar {
    width: 1px ;
    background-color: black;

}
.hidden {
    display: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.mt-5px {
    margin-top: 5px;

}
.mb-10px{
    margin-bottom: 10px;
}
.input-style{
    border: none;
    border-radius: 3px;
    background-color: var(--input-color);
}
.input-style:hover{
    background-color: var(--hover-input);
}

.input-range {
-webkit-appearance: none;
background: transparent;
}

.input-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #4E5565;
    height: 9px;
    border-radius: 1em;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--thumb-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -5px;

}


/* ESTO LO VAMOS A USAR PARA EL JS DE CAMBIO DE MODO OSCUTO A CLARO

aside{
    background-color: #f4f4f4 ;
}

body {
    background-color: #EDEDED ;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #E0E0E0;
    color: #333030;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}